---
// Component Imports
import Tour from '../components/Tour.astro';
import Banner from '../components/Banner.astro';
import Ad from '../components/Ad.astro'
import Experiment from '../components/Experiment.astro'
import Course from '../components/Course.astro'
import Members from '../components/Members.tsx'
import Testimonial from '../components/Testimonial.tsx'
import NetworkT from '../components/NetworkT.tsx'
import Slider from '../components/Slider.tsx'
import Layout from '../layouts/Main.astro'

// You can import components from any supported Framework here!


// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = 'about us';
let description = 'An example blog on Astro';
let permalink = 'https://example.com/aboutus';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<Layout  title={title} description={description} permalink={permalink} >
    <div class="container mx-auto">
        <Members client:load />
        <NetworkT client:load/>
        <Testimonial client:visible/>
    </div> 
</Layout>
