---
export interface Props {
  title: string;
  author: string;
  publishDate: string;
  heroImage: string;
}

const { title, author, publishDate, heroImage, alt,authorImage} = Astro.props;
---

<div class=" layout">
  <article class="pb-4 border-b-2 border-pink-500 md:pr-4 md:border-r-2 md:border-b-0 md:col-span-3 content">
  <div class="">
    <header>
      {heroImage && <img width="720" height="420" class="hero-image" loading="lazy" src={heroImage} alt={alt} />}
      <p class="font-semibold publish-date">{publishDate}</p>
      <h1 class="title">{title}</h1>
    </header>
      <slot />
      <div class="flex flex-col justify-start gap-2 my-4 ">
      <img class="w-20 h-20 " src={authorImage} alt="author">
      <div class="flex flex-col">
      <p class="text-xl font-semibold text-gray-100">
      {author}
      </p>
      <p class="text-sm font-semibold text-gray-100">
      Software enthusiast
      </p>
      </div>
      </div>
  </article>
</div>

<style>
.hero-image {
  width: 100%;
  object-fit: cover;
  object-position: center;
  margin-top: 2rem;
  margin-bottom: 4rem;
  max-width: 1280px;
}

@media (max-width: 50em) {
  .hero-image {
    height: 260px;
  margin-top: 0;
  margin-bottom: 2rem;
  }
}

.content {
  margin-bottom: 8rem;
}

.content :global(main > * + *) {
  margin-top: 1rem;
}

.content :global(h2) {
  margin-top: 4rem;
}

header {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;

  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 4px solid white;
}

.title,
.author,
.publish-date {
  margin: 0;
}

.publish-date,
.author {
}

.title {
  font-size: 2.25rem;
  font-weight: 700;
}
</style>
