---
import ExperimentCard from './ExperimentCard.astro'


const title = "Courses"
const desc = "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum cum temporibus doloremque inventore adipisci. Ut consectetur quibusdam reprehenderit nesciunt temporibus est repellat sint animi similique vel quis, voluptas adipisci dolorem."
---

<section class="grid grid-cols-1 px-4 my-12 lg:my-2 lg:grid-cols-2 section xl:min-h-4/5">
	<div class="flex flex-col justify-center order-last lg:order-first sm:py-12">
	<div class="relative video">
	<div  class="w-full sm:rounded-3xl min-h-[25rem] border-2 border-blue-500" src="https://www.youtube.com/embed/1yNfnRbU05Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></div>
		<!-- <div class="absolute bottom-0 right-0 flex gap-4 px-6 py-4 font-semibold text-black bg-gray-100 shadow-xl md:rounded-3xl md:-bottom-12 drop-shadow-lg md:-right-8">
			<div class="bg-blue-400 rounded-full w-14 h-14"></div>
			<div class="text">
			<h3 class="font-semibold text-gray-700">All Courses</h3>
			<p class="text-sm text-gray-500">find the best course</p>

			</div>
		</div> -->
	</div>
	</div>
	<div class="flex flex-col justify-start gap-4 p-4 md:pt-12">
	<h1 class="text-6xl font-bold relative  after:content-[''] after:absolute after:w-[80%] after:h-4 after:-z-5 after:bg-blue-500 after:bottom-0 after:left-0">{title}</h1>
	<p>{desc}</p>
	</div>
</section>