---
import ExperimentCard from './ExperimentCard.astro'
---
<section class="grid grid-cols-1 px-4 my-12 lg:my-2 lg:grid-cols-2 section xl:min-h-4/5">
	<div class="flex flex-col justify-start gap-4 p-4 md:pt-14 ">
	<h1 class="text-6xl relative font-bold after:content-[''] after:absolute after:w-[80%] after:h-4 after:-z-5 after:bg-blue-500 after:bottom-0 after:left-0">Experiments</h1>
	<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum cum temporibus doloremque inventore adipisci. Ut consectetur quibusdam reprehenderit nesciunt temporibus est repellat sint animi similique vel quis, voluptas adipisci dolorem.</p>
	</div>
	<div class="">
	<ExperimentCard/>
	</div>
</section>