<div class="flex flex-col justify-center py-6 sm:py-12">
  
  <div class="py-3 sm:max-w-xl sm:mx-auto">
    <div class="flex p-8 space-x-8 bg-white border border-gray-100 shadow-lg max-h-80 sm:rounded-3xl">
      <div class="w-1/2 h-48 overflow-visible">
          <img class="shadow-lg rounded-3xl" src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/1LRLLWGvs5sZdTzuMqLEahb88Pc.jpg" alt="">
      </div>
      <div class="flex flex-col w-1/2 gap-2">
        <div class="flex items-start justify-between text-black">
          <h2 class="text-3xl font-bold">Sweet Tooth: El niño ciervo</h2>
          <div class="p-2 font-bold bg-blue-400/50 rounded-xl">7.2</div>
        </div>
          <p class="overflow-y-hidden text-sm text-gray-400 max-h-40">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <button class="flex self-start text-xl font-semibold text-blue-500 rounded-md">Watch</button>
      </div>

    </div>
  </div>
  
</div>