---
import FiMenu from './icons/FiMenu.tsx'
import ImCross from './icons/ImCross.tsx'
  
const links =  [
    { name: 'home', url: '/' },
    { name: 'blog', url: '/blogs' },
    { name: 'courses', url: '/courses' },
    { name: 'experiments', url: '/experiments' },
    { name: 'about us', url: '/about' }
  ]
---
<header class="sticky top-0 z-50 w-full px-2 py-2 text-white bg-gray-800/70">
<div class="container flex flex-row items-center justify-between mx-auto text-sm ">
	<div class="flex items-center order-2 gap-2 text-2xl font-bold md:order-1 ">
    <a href="/">
	    <img class="w-12"  src="https://scontent.fdac5-2.fna.fbcdn.net/v/t1.15752-9/179388109_461660611613254_8617549159802573222_n.png?_nc_cat=108&ccb=1-4&_nc_sid=ae9488&_nc_ohc=s5uHJ-gJiXIAX_uCRW2&_nc_ht=scontent.fdac5-2.fna&oh=a2ec648a125933f423f22a06ff5f7225&oe=6132F19C"  alt="">
    </a>
	JC  
  </div>
  <nav class="flex flex-row items-center justify-center gap-4 font-semibold capitalize md:order-2 md:flex-1" >
<FiMenu class="block text-3xl menu md:hidden"/>
<div class="md:mx-auto transition md:w-[fit-content] items-start  w-2/4 duration-300 md:relative md:flex-row absolute navbar top-0 -left-full   transform  md:left-0 md:h-[fit-content] h-screen md:justify-center justify-start flex  flex-col md:p-[.3rem] gap-3 px-[1rem] py-[3rem] rounded-primary  dark:bg-gray-800">
<ImCross class="absolute block cancel top-6 right-6 md:hidden"/>
{links.map(l=>(
<a href={l.url} class="px-4 py-1 text-sm font-semibold transition duration-300 rounded-primary focus:outline-none hover:bg-gray-700 focus:bg-gray-700">{l.name}
</a>
))}
</div>
  </nav>
<!-- <button class="px-2 py-1 font-semibold text-white bg-red-600 rounded-lg">Bn</button> -->
  <div class="flex items-center justify-center order-3 font-semibold ">
<label 
    for="toogleA"
    class="flex items-center cursor-pointer"
  >
    <!-- toggle -->
    <div class="relative">
      <!-- input -->
      <input id="toogleA" type="checkbox" class="sr-only" />
      <!-- line -->
      <div class="flex items-center justify-between w-12 h-6 px-1 bg-gray-100 shadow-inner dark:bg-gray-700"><span>En</span><span>En</span></div>
      <!-- dot -->
      <div class="absolute top-0 left-0 flex items-center justify-center w-6 h-6 text-gray-100 transition bg-red-500 shadow dark:text-gray-100 dot">Bn</div>
    </div>
    <!-- label -->
  </label>
    </div>
  
  </div>

</header>


<style>
/* Toggle B */
input:checked ~ .dot {
  transform: translateX(100%);
  background-color: #48bb78;
}
input:checked ~ .en {
   right:1.7rem !important;
}

</style>

<script type="text/javascript">

const menu = document.querySelector(".menu")
const navbar = document.querySelector(".navbar")
const cancel = document.querySelector(".cancel")

menu.addEventListener("click",() => {
  // menu.classList.toggle("text-red-500")
  navbar.classList.toggle("translate-x-[200%]")
})
cancel.addEventListener("click",() => {
  navbar.classList.remove("translate-x-[200%]")
})
</script>