---
const arr= [
	[
		{
		name:'Amir Razin',
		speech:'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos sunt ratione dolor exercitatione ipsum dolor sit amet consectetur adipisicing elit. Quos sunt ratione dolor exercitationem minima quas itaque saepe quasi architecto vel! Accusantium, vero sint recusandae cum tempora nemo commodi soluta deleniti.',
		},
		{
		name:'Amir Razin',
		speech:'Lorem m minima quas itaque saepe quasi architecto vel! Accusantium, vero sint recusandae cum tempora nemo commodi soluta deleniti.',
		},
	],
	[
		{
		name:'Amir Razin',
		speech:'si architecto vel! Accusantium, vero sint recusandae cum tempora nemo commodi soluta deleniti.',
		},
		{
		name:'Amir Razin',
		speech:'Lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos sunt ratione dolor exercitationem minima quas itaque saepe qua ipsum dolor sit ameel! Accusantium, vero sint recusandae cum tempora nemo commodi soluta deleniti.',
		},
	],
	[
		{
		name:'Amir Razin',
		speech:'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos sunt ratione dolor exercitationem minima quas itaque saepe quasi architecto vel! Accusantium, vero sint recusandae cum tempora nemo commodi soluta deleniti.',
		},
		{
		name:'Amir Razin',
		speech:'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos sunt ratione dolor exercitationem minima quas itaque saepe quasi architecto vel! Accusantium, vero sint recusandae cum tempora nemo commodi soluta deleniti.',
		},
	],
]
---
<div class="flex items-center justify-center min-h-screen py-5 min-w-screen dark:bg-gray-900 bg-gray-50">
    <div class="w-full px-5 py-16 text-gray-800 bg-white dark:bg-gray-900 dark:text-gray-100 md:py-24">
        <div class="w-full max-w-6xl mx-auto">
            <div class="max-w-xl mx-auto text-center">
                <h1 class="mb-5 text-6xl font-bold text-gray-600 dark:text-gray-200 md:text-7xl">What people <br>are saying.</h1>
                <h3 class="mb-5 text-xl font-light">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
                <div class="mb-10 text-center">
                    <span class="inline-block w-1 h-1 ml-1 bg-pink-500 rounded-full"></span>
                    <span class="inline-block w-3 h-1 ml-1 bg-pink-500 rounded-full"></span>
                    <span class="inline-block w-40 h-1 bg-pink-500 rounded-full"></span>
                    <span class="inline-block w-3 h-1 ml-1 bg-pink-500 rounded-full"></span>
                    <span class="inline-block w-1 h-1 ml-1 bg-pink-500 rounded-full"></span>
                </div>
            </div>
            <div class="items-start -mx-3 md:flex">
	    <!-- 1 -->
	   {arr.map(t=>(
                <div class="px-3 md:w-1/3">
		{t.map(s=>(

                    <div class="w-full p-5 mx-auto mb-6 font-light text-gray-800 bg-white rounded-lg dark:bg-gray-800">
                        <div class="flex items-center w-full mb-4">
                            <div class="w-10 h-10 overflow-hidden border border-gray-200 rounded-full bg-gray-50">
                                <img src="https://avatars.githubusercontent.com/u/82754350?v=4" alt="">
                            </div>
                            <div class="flex-grow pl-3">
                                <h6 class="text-sm font-bold text-gray-600 uppercase dark:text-gray-200">{s.name}</h6>
                            </div>
                        </div>
                        <div class="w-full">
                            <p class="text-sm leading-tight dark:text-gray-300"><span class="mr-1 text-lg italic font-bold leading-none text-gray-400 dark:text-gray-200">"</span>{s.speech}<span class="ml-1 text-lg italic font-bold leading-none text-gray-400">"</span></p>
                        </div>
                    </div>

		))}
		</div>

	   ))
	  } 
	   
            </div>
        </div>
    </div>
</div>